rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        request.auth.token.email == "umeshvalavala2004@gmail.com";
    }

    function isOwner(uid) {
      return isSignedIn() &&
        request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read: if isOwner(uid) || isAdmin();
      allow create: if isOwner(uid);
      allow update: if isOwner(uid) || isAdmin();
      allow delete: if isAdmin();
    }

    match /adminMessages/{messageId} {
      allow create: if isSignedIn() &&
        request.resource.data.uid == request.auth.uid;

      allow read: if isAdmin() ||
        (isSignedIn() && resource.data.uid == request.auth.uid);

      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
  }
}
